<!-- <ul id="rig">
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://moxtain.s3.ap-south-1.amazonaws.com/blogs/RaftingInRishikesh/white-water-rafting-in-rishikesh.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">rafting</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://moxtain.s3.ap-south-1.amazonaws.com/blogs/RiverRaftingInIndia/river-rafting-in-kasol.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">rafting</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://moxtain.s3.ap-south-1.amazonaws.com/blogs/RiverRaftingInIndia/white-water-rafting.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Vivamus ut Felis</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://moxtain.s3.ap-south-1.amazonaws.com/blogs/RiverRaftingInIndia/water-rafting+-in-india.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images.pexels.com/photos/1365425/pexels-photo-1365425.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images.thrillophilia.com/image/upload/s--x1Q17S42--/c_fill,g_center,h_450,q_auto,w_753/dpr_1.5,f_auto,fl_strip_profile/v1/images/photos/000/046/277/original/dhauladhar-20range-20by-20raman-20sharma-20flickr.jpg.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Suspendisse tellus</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://res.cloudinary.com/thrillophilia/image/upload/c_fill,dpr_2.0,f_auto,fl_progressive.strip_profile,g_center,h_450,q_auto,w_753/v1/filestore/4ebwp72h5glgr0umhey425brwqn3_shutterstock_1476181970.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">pellentesque odio</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images.thrillophilia.com/image/upload/s--TfPBYssc--/c_fill,g_center,h_450,q_auto,w_753/dpr_1.5,f_auto,fl_strip_profile/v1/images/photos/000/024/758/original/1608205589_https___media.insider.in_image_upload_c_crop_g_custom_v1601116156_wia03fdrsxyh6aacew1i.jpg.jpg">
            <span class="rig-overlay"></span>
            <span class="rig-text">Nam euismod</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images.pexels.com/photos/2398220/pexels-photo-2398220.jpeg?auto=compress&cs=tinysrgb&w=600">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images.pexels.com/photos/2662816/pexels-photo-2662816.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images.pexels.com/photos/2582818/pexels-photo-2582818.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            <span class="rig-overlay"></span>
            <span class="rig-text">Maecenas vitae</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://images.pexels.com/photos/2376997/pexels-photo-2376997.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
            <span class="rig-overlay"></span>
            <span class="rig-text"></span>
        </a>
    </li>
</ul> -->
<html>
<body>

    <section class="nav-bar">
        <div class="logo">Pack your Bags</div>
        <ul class="menu">
            <li><a  href="#tour">tours</a></li>
            <li><a  routerLink="../contact">Flights</a></li>
            <li><a  routerLink="../place">Car rentals</a></li>
            <li><a routerLink="../eats">Stay</a></li>
            <li><a routerLink="../login">Login</a></li>
        </ul>
        
    
    </section>
  
    <section class="banner">
        <div class="banner-text-item">
            <div class="banner-heading" >
            
                <h1>Find your Next tour!</h1>
            </div>
            <form class="form">
                <input type="text" list="mylist" placeholder="Where would you like to go?">
                <datalist id="mylist">
                    <option>New Delhi</option>
                    <option>Mumbai</option>
                    <option>Goa</option>
                    <option>Jaipur</option>
                    <option>Chennai</option>
                    <option>Manali</option>

                </datalist>
                <input type="date" class="date">
                <a href="#tour" class="book">book</a>
            </form>
        </div>
    </section>
    <section class="services">
        <div class="service-item">
            <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293634/tour-guide_onzla9.png">
            <h2>8000+ Our Local Guides</h2>
        </div>
        <div class="service-item">
            <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293738/reliability_jbpn4g.png">
            <h2>100% Trusted Tour Agency</h2>
        </div>
        <div class="service-item">
            <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293635/experience_a3fduk.png">
            <h2>28+ Years of Travel Experience</h2>
        </div>
        <div class="service-item">
            <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293634/feedback_s8z7d9.png">
            <h2>98% Our Travelers are Happy</h2>
        </div>
    </section>

    <section class="places" id="tour">
        <div class="places-text">
            <small>FEATURED TOURS PACKAGES</small>
            <h2>Favourite Places</h2>
        </div>
    
        <div class="cards">
            <div class="card">
                <div class="zoom-img">
                    <div class="img-card">
                        <img src="https://images.pexels.com/photos/789750/pexels-photo-789750.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                    </div>
                </div>
    
                <div class="text">
                    <span class="rating">&#11088;&#11088;&#11088;&#11088;&#11088;</span>
                    <h2>New Delhi</h2>
                    <p class="cost">&#8377; 1870  Per Person</p>
                    <div class="card-box">
                        <p class="time">3 Days</p>
                        <p class="location">&#9992; New Delhi,India</p>
                    
                    </div>
                    <button class="button-81" role="button" routerLink="../contact">Book Now</button>
                
                </div>
    
            </div>
            <div class="card">
                <div class="zoom-img">
                    <div class="img-card">
                        <img src="https://images.pexels.com/photos/12460245/pexels-photo-12460245.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                    </div>
                    <!-- <button class="button-81" role="button">Book Now</button> -->
                
                </div>
    
                <div class="text">
                    <span class="rating">&#11088;&#11088;&#11088;&#11088;&#11088;</span>
                    <h2>Mumbai</h2>
                    <p class="cost">&#8377; 2000 Per Person</p>
                    <div class="card-box">
                        <p class="time"> 3 Days</p>
                        <p class="location">&#9992; Maharatsra, India</p>
                    </div>
                    <button class="button-81" role="button" routerLink="../place">Book Now</button>
                </div>
    
            </div>
            <div class="card">
                <div class="zoom-img">
                    <div class="img-card">
                        <img src="https://res.cloudinary.com/dxssqb6l8/image/upload/v1605293955/monaco_usu7xb.jpg">
                    </div>
                </div>
    
                <div class="text">
                    <span class="rating">&#11088;&#11088;&#11088;&#11088;&#11088;</span>
                    <h2>Goa</h2>
                    <p class="cost">&#8377; 1870  Per Person</p>
                    <div class="card-box">
                        <p class="time"> 3 Days</p>
                        <p class="location">&#9992;Goa, India</p>
                    </div>
                    <button class="button-81" role="button" routerLink="../place">Book Now</button>
                </div>
    
            </div>
            <div class="card">
                <div class="zoom-img">
                    <div class="img-card">
                        <img src="https://images.pexels.com/photos/12323903/pexels-photo-12323903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                    </div>
                </div>
    
                <div class="text">
                    <span class="rating">&#11088;&#11088;&#11088;&#11088;&#11088;</span>
                    <h2>Jaipur</h2>
                    <p class="cost">&#8377; 1870 Per Person</p>
                    <div class="card-box">
                        <p class="time"> 3 Days</p>
                        <p class="location">&#9992; Bern, Switzerland</p>
                    </div>
                    <button class="button-81" role="button">Book Now</button>
                </div>
    
            </div>
            <div class="card">
                <div class="zoom-img">
                    <div class="img-card">
                        <img src="https://images.pexels.com/photos/12607978/pexels-photo-12607978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                    </div>
                </div>
    
                <div class="text">
                    <span class="rating">&#11088;&#11088;&#11088;&#11088;&#11088;</span>
                    <h2>Chennai</h2>
                    <p class="cost">&#8377; 1870 Per Person</p>
                    <div class="card-box">
                        <p class="time"> 3 Days</p>
                        <p class="location">&#9992; Tamil Nadu</p>
                    </div>
                    <button class="button-81" role="button">Book Now</button>
                </div>
    
            </div>
            <div class="card">
                <div class="zoom-img">
                    <div class="img-card">
                        <img src="https://images.pexels.com/photos/7846665/pexels-photo-7846665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
                    </div>
                </div>
    
                <div class="text">
                    <span class="rating">&#11088;&#11088;&#11088;&#11088;&#11088;</span>
                    <h2>Manali</h2>
                    <p class="cost">&#8377; 1870 Per Person</p>
                    <div class="card-box">
                        <p class="time"> 3 Days</p>
                        <p class="location">&#9992; Jammu kashmir</p>
                    </div>
                    <button class="button-81" role="button" routerLink="../play">Book Now</button>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-section">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Find us</h4>
                                <span>1010 Avenue, sw 54321,Hyderabad</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Call us</h4>
                                <span>98765432116</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Mail us</h4>
                                <span>mail@info.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <!-- <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a> -->
                            </div>
                         
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Useful Links</h3>
                            </div>
                            <ul>
                                <li><a href="#">Home</a></li>
                              
                                <li><a href="#">services</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Subscribe</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                            </div>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Email Address">
                                    <button><i class="fab fa-telegram-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                      
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Policy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
 

    </body>
    </html>