
    <section class="nav-bar">
        <div class="logo">Pack your Bags</div>
        <ul class="menu">
            <!-- <li><a  routerLink="../place">Car rentals</a></li> -->
            <li><a  href="#tour">tours</a></li>
            <li><a  routerLink="">Flights</a></li>
            <li><a  routerLink="../place">Car rentals</a></li>
            <li><a routerLink="../login">Login</a></li>
        </ul>
        
    
    </section>
<div class="i">
<section class="rental-summary">
    <div class="rental-image-container">
      <img src="//www.priceline.com/rc-static/vehicles/domestic_196x116/ECAR@2x.png" alt="image of car">
    </div>
    <div class="rental-details">
      <div class="header">
        <a href="#"><h4 class="rental-type">Economy Car (Large)</h4></a>
        <span class="mileage"><i class="fa fa-check" aria-hidden="true"></i> Unlimited Mileage</span>
      </div>
      <span class="rental-model">Hyundai Accent </span>
      <span class="airport"><i class="fa fa-plane" aria-hidden="true"></i> </span>
      <span class="rental-car-types">You'll Get One of These Rental Car Brands.</span>
      <div class="rental-car-images">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/AL.png" alt="alamo car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/AV.png" alt="avis car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/BU.png" alt="budget car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/HZ.png" alt="hertz car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/NA.png" alt="national car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/SX.png" alt="sixt car image" class="car-logo">
      </div>
    </div>
    <div class="rental-booking">
      <section class="pricing-summary">
        <div class="pricing">
          <span class="price">&#8377; 850</span>
          <span class="per-day"></span>
        </div>
        <span class="summary">Per day</span>
        <button class="btn" routerLink="../book">Choose</button>
      </section>
    </div>
    
  </section>
<section class="rental-summary">
    <div class="rental-image-container">
      <img src="https://p.kindpng.com/picc/s/124-1246744_innova-car-images-png-png-download-innova-car.png" alt="image of car">
      
    </div>
    <div class="rental-details">
      <div class="header">
        <a href="#"><h4 class="rental-type">Economy Car  (Small)</h4></a>
        <span class="mileage"><i class="fa fa-check" aria-hidden="true"></i> Unlimited Mileage</span>
      </div>
      <span class="rental-model">Hyundai Accent </span>
      <span class="airport"><i class="fa fa-plane" aria-hidden="true"></i> </span>
      <span class="rental-car-types">You'll Get One of These Rental Car Brands.</span>
      <div class="rental-car-images">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/AL.png" alt="alamo car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/AV.png" alt="avis car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/BU.png" alt="budget car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/HZ.png" alt="hertz car image" class="car-logo">
      </div>
    </div>
    <div class="rental-booking">
      <section class="pricing-summary">
        <div class="pricing">
          <span class="price">&#8377; 650</span>
          <span class="per-day"></span>
        </div>
        <span class="summary">Per day</span>
        <button class="btn" routerLink="../book">Choose</button>
      </section>
    </div>   
</section>
<section class="rental-summary">
    <div class="rental-image-container">
      <img src="https://p.kindpng.com/picc/s/41-411332_red-honda-clarity-car-png-image-honda-clarity.png" alt="image of car">
      
    </div>
    <div class="rental-details">
      <div class="header">
        <a href="#"><h4 class="rental-type">Tata Indica</h4></a>
        <span class="mileage"><i class="fa fa-check" aria-hidden="true"></i> Unlimited Mileage</span>
      </div>
      <span class="rental-model">I20</span>
      <span class="airport"><i class="fa fa-plane" aria-hidden="true"></i> </span>
      <span class="rental-car-types">You'll Get One of These Rental Car Brands.</span>
      <div class="rental-car-images">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/AL.png" alt="alamo car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/AV.png" alt="avis car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/BU.png" alt="budget car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/HZ.png" alt="hertz car image" class="car-logo">
      </div>
    </div>
    <div class="rental-booking">
      <section class="pricing-summary">
        <div class="pricing">
          <span class="price">&#8377; 350</span>
          <span class="per-day"></span>
        </div>
        <span class="summary">Per day</span>
        <button class="btn" routerLink="../book">Choose</button>
      </section>
    </div>   
</section>
<section class="rental-summary">
    <div class="rental-image-container">
      <img src="//www.priceline.com/rc-static/vehicles/domestic_196x116/ECAR@2x.png" alt="image of car">
      
    </div>
    <div class="rental-details">
      <div class="header">
        <a href="#"><h4 class="rental-type">Toyota Itios</h4></a>
        <span class="mileage"><i class="fa fa-check" aria-hidden="true"></i> Unlimited Mileage</span>
      </div>
      <span class="rental-model">Kia</span>
      <span class="airport"><i class="fa fa-plane" aria-hidden="true"></i> </span>
      <span class="rental-car-types">You'll Get One of These Rental Car Brands.</span>
      <div class="rental-car-images">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/AL.png" alt="alamo car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/AV.png" alt="avis car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/BU.png" alt="budget car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/HZ.png" alt="hertz car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/NA.png" alt="national car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/SX.png" alt="sixt car image" class="car-logo">
      </div>
    </div>
    <div class="rental-booking">
      <section class="pricing-summary">
        <div class="pricing">
          <span class="price">&#8377; 350</span>
          <span class="per-day"></span>
        </div>
        <span class="summary">Per day</span>
        <button class="btn" routerLink="../book">Choose</button>
      </section>
    </div>   
</section>
<section class="rental-summary">
    <div class="rental-image-container">
      <img src="https://p.kindpng.com/picc/s/491-4914329_tavera-car-bumper-price-hd-png-download-png.png" alt="image of car">
      
    </div>
    <div class="rental-details">
      <div class="header">
        <a href="#"><h4 class="rental-type">Economy Car  (Small)</h4></a>
        <span class="mileage"><i class="fa fa-check" aria-hidden="true"></i> Unlimited Mileage</span>
      </div>
      <span class="rental-model">Tata</span>
      <span class="airport"><i class="fa fa-plane" aria-hidden="true"></i> </span>
      <span class="rental-car-types">You'll Get One of These Rental Car Brands.</span>
      <div class="rental-car-images">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/AL.png" alt="alamo car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/AV.png" alt="avis car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/BU.png" alt="budget car image" class="car-logo">
        <img src="//s1.pclncdn.com/rc-static/logos/88x44/HZ.png" alt="hertz car image" class="car-logo">
      </div>
    </div>
    <div class="rental-booking">
      <section class="pricing-summary">
        <div class="pricing">
          <span class="price">&#8377;350 </span>
          <!-- <span class="per-day">per day</span> -->
        </div>
        <span class="summary">per day</span>
        <button class="btn" routerLink="../book">Choose</button>
      </section>
    </div>   
</section>
</div>