/* 
  .button-92 {
    --c: #fff;
   
    background: linear-gradient(90deg, rgba(235, 136, 136, 0) 33%, rgba(244, 241, 241, 0.333), #0000 67%) var(--_p,100%)/200% no-repeat,
      #231f1f;
    color: rgba(10, 10, 10, 0);
    position:relative;
    left: 25%;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
    text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
      calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;
  }
  
  
  .button-92:hover,
  .button-92:focus-visible {
    --_p: 0%;
    --_i: 1;
  }
  
  .button-92:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q rgba(239, 237, 237, 0.333);
    transition: 0s;
  }
  
  .button-92 {
    font-weight: bold;
    position: relative;
    font-size: 2rem;
    margin: 10px;
    cursor: pointer;
    padding: .1em .3em;
  }
  .cf:before,
  .cf:after {
      content: " ";
      display: table;
  }

  .cf:after {
      clear: both;
  }

  .cf {
      *zoom: 1;
  }

  .menu,
  .submenu {
   margin: 0;
   padding: 0;
   list-style: none;
  }

  .menu {   
   /* margin: 50px auto; 
   width: 700px;   
   width: -moz-fit-content;
   width: -webkit-fit-content;
   width: fit-content; 
   padding-left: 54%;
  
  }

  .menu > li {
   background: rgb(10, 10, 10);
   float: left;
   position: relative;
   transform: skewX(25deg);
  }

  .menu a {
   display: block;
   color: #fff;
   text-transform: uppercase;
   text-decoration: none;
   font-family: Arial, Helvetica;
   font-size: 14px;
  }  

  .menu li:hover {
   background: #e74c3c;
  }  

  .menu > li > a {
   transform: skewX(-25deg);
   padding: 1em 2em;
  }


  .submenu {
   position: absolute;
   width: 200px;
   left: 50%; margin-left: -100px;
   transform: skewX(-25deg);
   transform-origin: left top;
  }

  .submenu li {
   background-color: #34495e;
   position: relative;
   overflow: hidden;  
  }      

  .submenu > li > a {
   padding: 1em 2em;   
  }

  .submenu > li::after {
   content: '';
   position: absolute;
   /* top: -125%; 
   height: 100%;
   width: 100%;   
   box-shadow: 0 0 50px rgba(0, 0, 0, .9);   
  }  

  .submenu > li:nth-child(odd){
   transform: skewX(-25deg) translateX(0);
  }

  .submenu > li:nth-child(odd) > a {
   transform: skewX(25deg);
  }

  .submenu > li:nth-child(odd)::after {
   right: -50%;
   transform: skewX(-25deg) rotate(3deg);
  }    

  .submenu > li:nth-child(even){
   transform: skewX(25deg) translateX(0);
  }

  .submenu > li:nth-child(even) > a {
   transform: skewX(-25deg);
  }

  .submenu > li:nth-child(even)::after {
   left: -50%;
   transform: skewX(25deg) rotate(3deg);
  }


.submenu,
  .submenu li {
   opacity: 0;
   visibility: hidden;   
  }

  .submenu li {
   transition: .2s ease transform;
  }

  .menu > li:hover .submenu,
  .menu > li:hover .submenu li {
   opacity: 1;
   visibility: visible;
  }  

  .menu > li:hover .submenu li:nth-child(even){
   transform: skewX(25deg) translateX(15px);   
  }

  .menu > li:hover .submenu li:nth-child(odd){
   transform: skewX(-25deg) translateX(-15px);   
  } */

  a {
    text-decoration: none;
  }
  
  img {
    height: 60%;
  }
  
  .fa-check {
    color: #5594C3;
  }
  
  .rental-summary {
    display: flex;
    font-family: 'arial';
    max-width: 931px;
    height: 200px;
    border: 1px solid #CCCCCC;
    margin-left: 125px;
    margin-top: 20px;

  }
  
  .rental-image-container {
    font-size: 18px;
    text-align: center;
    padding-top: 50px;
    width: 177px;
    border-right: 1px solid #CCCCCC;
  }
  
  .sub-icon {
    font-size: 12px;
    margin-right: 5px; 
    margin-left: 3px;
  }
  
  .last {
    margin-right: 0;
  }
  
  .rental-icon-details {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 0 10px 0 10px;
    color: #666666;
  }
  
  .rental-details {
    display: flex;
    flex-direction: column;
    flex: 1;  
    padding: 16px 12px 0 12px;
  }
  
  .header {
    display: flex;
    justify-content: space-between
  }
  
  .rental-type {
    font-weight: 200;
    font-size: 20px;
    color: #5594C3;
    margin-bottom: 6px;
    margin-top: 0;
  }
  
  .airport {
    font-size: 18px;
    margin-bottom: 12px;
  }
  
  .mileage {
    margin-bottom: 12px;
  }
  
  .rental-car-types {
    font-size: 12px;
    margin-bottom: 12px;
  }
  
  .car-logo {
    width: 50px;
    margin-right: 6px;
  }
  
  .rental-model {
    color: #999999;
    font-size: 18px;
    margin-bottom: 12px;
  }
  
  .rental-type:hover {
    color: #245292;
  }
  
  .rental-booking {
    width: 177px;
    border-left: 1px solid #CCCCCC;
  }
  
  .pricing-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;
    padding-right: 10px;
    height: 177px;
    /* background-color: #F7F7F7; */
  }
  
  button:focus {
    outline:0 !important;
  }
  
  button:hover {
    background-color: #548F2C;
  }
  
  .btn {
    font-size: 20px;
    padding: 8px 20px 8px 20px;
    background-color: #60A034;
    color: #FFF;
    border: 0;
    margin-bottom: 16px;
  }
  
  .pricing {
    color: #60A034;
  }
  
  .price {
    font-size: 30px;
  }
  
  .summary {
    font-size: 12px;
    color: #AFAFAF;
    margin-bottom: 5px;
  }

  
.nav-bar {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 90px;
  background-color: #fff;
  box-shadow: 3px 3px 10px lightslategray;
  align-items: center;
  justify-content: center;
  
  top: 0;
  z-index: 1;
}

.logo {
  flex: 1;
  font-size: 40px;
  padding: 20px;
  margin-left: 50px;
  font-family: Satisfy;
}

ul.menu {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}

.menu li {
  flex: 1;
  list-style-type: none;
  font-size: 20px;
  font-family: "Barlow Condensed";
  text-align: center;
}

.menu li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.menu li a:hover {
  color: rgb(8, 10, 1);
  text-decoration: underline;
}
.i{
 background-color: #fcfbfb;
    /* background-image: url('https://images.pexels.com/photos/11924052/pexels-photo-11924052.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');   */
}

  




  

