<section class="nav-bar">
  <div class="logo">Pack your Bags</div>
  <ul class="menu">
      <li><a  href="#tour">tours</a></li>
      <li><a  routerLink="../contact">Flights</a></li>
      <li><a routerLink="../place">Car Rentals</a></li>
      <li><a routerLink="../login">Login</a></li>
  </ul>
  

</section>
<div class="cards">
  <div class="card">
    <header>
      <h2>The Park Bangalore </h2>
    </header>

    <img src="https://imgcld.yatra.com/ytimages/image/upload/t_hotel_mobileactualimage/v5117497787/Hotel/Bengaluru/00000021/The_Park_Bangalore_w4ViHb.jpg">
    <div class="body">
      <p></p>
      <button class="button-81" role="button" routerLink="../book">Book Now</button>
    </div>

  </div>

  <div class="card">
    <header>
      <h2>Hotel Royal Orchid</h2>
    </header>

    <img src="https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/20070125123210204-db9f11500ca511e88d690a9df65c8753.jpg" alt="Bristol harbour">
    <div class="body">
      <p></p>
      <button class="button-81" role="button" routerLink="../book">Book Now</button>
    </div>
  </div>

  <div class="card">
    <header>
      <h2>The Oberoi</h2>
    </header>
    <img src="https://pix10.agoda.net/hotelImages/889/8898/8898_14021011090018291191.jpg?ca=2&ce=1&s=1024x768" alt="Coloured balloon">
    <div class="body">
      <p></p>
      <button class="button-81" role="button" routerLink="../book">Book Now</button>
    </div>
  </div>

  <div class="card">
    <header>
      <h2>Taj Mahal Palace</h2>
    </header>

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Mumbai_Aug_2018_%2843397784544%29.jpg/1200px-Mumbai_Aug_2018_%2843397784544%29.jpg" alt="Fortnum and Mason balloon">
    <div class="body">
      <button class="button-81" role="button" routerLink="../place">Book Now</button>
    </div>
  </div>

  <div class="card">
    <header>
      <h2>Four Seasons</h2>
    </header>

    <img src="https://ik.imgkit.net/3vlqs5axxjf/external/ik-seo/http://www.cfmedia.vfmleonardo.com/imageRepo/3/0/45/301/921/MUM_exterior_O/Four-Seasons-Hotel-Mumbai-Exterior.jpg?tr=w-780%2Ch-437%2Cfo-auto" alt="Funfair">
    <div class="body">
      
      <button class="button-81" role="button" routerLink="../book">Book Now</button>
    
    </div>
    
 
  </div>
   
  <div class="card">

    <header>
      <h2>Hotel Lords</h2>
    </header>

    <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/195697564.jpg?k=f29fe219e513ebcbb33e9572a75ef02fd0f75a5a93d61b0323a5e5bed4ac5f59&o=&hp=1">
    <div class="body">
      <button class="button-81" role="button" routerLink="../book">Book Now</button>
    </div>
  </div>
</div>

